*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}


.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.cell.o::before,
.cell.o::after{
    background-color: #000000;
}

.cell.x::before,
.cell.x::after ,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}
.cell.x::before ,
.board.x .cell:not(.x):not(.o):hover::before{
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
  transform: rotate(135deg);
}


.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
  content: "";
  position: absolute;
    border-radius: 50%;   
}
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size) ;
  height: var(--mark-size);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)*.7) ;
  height: calc(var(--mark-size)*.7);
  background: white;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    border-color: white;
    background-color: #000000;
    color: white;
}

.winning-message.show{
    display: flex;
}